.add-card {
	border-style: dashed;
	border-width: 2px;
	transition: all .5s ease-out;
	user-select: none;
}
.add-card:hover{
	cursor: pointer;
	box-shadow: 0 3px 12px #ddd;
}

.card{
	transition: box-shadow .3s ease-out;
	min-height: 250px;
}
.selected {
	box-shadow: 0 0 0 7px rgba(80,220,100,0.4),
				0 0 0 2px rgba(80,220,100,0.5);
}

.close-wrapper{
	position: relative;
}
.close-card{
	outline: none !important;
	position: absolute;
	top: 4px;
	right: 0;
}
.close-card > span{
	--size: 32px;

	display: inline-block;
	font-size: calc( var(--size) * .67);
	width: var(--size); /* match .h1 */
}

.plus-btn {
	--size: 60px;

	display: inline-block;
	margin-bottom: -1rem;
	background-color: rgba(0,0,0,.07);
	font-size: calc( var(--size) * .67);
	width: var(--size); /* match .h1 */
}
